@font-face {
    font-family: madaregular;
    src: url(/font/mada-regular-webfont.woff2) format('woff2'), url(/font/mada-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: madabold;
    src: url(/font/mada-bold-webfont.woff2) format('woff2'), url(/font/mada-bold-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html {
    padding: 10px;
    height: auto;
    width: 350px;
}

body {
    font-family: madaregular;
    background-color: #f0edcc;
}
h1 {
    text-align: center;
    font-size: 20px;
    font-family: madabold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #02343f;
}
h2 {
    text-align: left;
    font-size: 16px;
    font-family: madabold;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #02343f;
}
p {
    font-size: 16px;
    font-family: madaregular;
    margin-bottom: 16px;
    color: rgb(33, 37, 41);
}
#changes-text {
    text-decoration: underline;
    cursor: pointer;
}
label {
    font-size: 14px;
}
.btn {
    font-family: madabold;
    color:#f0edcc !important;
    background-color: #02343f;
    border-color: #031c22;
    border-width: 0px !important;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 12px;
    --bs-btn-hover-color:#f0edcc;
    --bs-btn-hover-bg: #031c22;
    --bs-btn-hover-border-color: #02343f;
    --bs-btn-active-color:#f0edcc;
    --bs-btn-active-bg: #031c22;
    --bs-btn-active-border-color: #02343f;
    width: 100%;
    height: 38px;
}
.form-control {
    width: 304px;
    line-height: 1.5;
    font-family: madaregular;
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #fff;
    border: 2px solid #02343f;
    border-radius: 10px;
}
.date-selection {
    margin-top: 15px;
}
.form-check {
    min-height: 1.5rem;
}