@font-face {
    font-family: madaregular;
    src: url(/files/font/mada-regular-webfont.woff2) format('woff2'), url(/files/font/mada-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: madabold;
    src: url(/files/font/mada-bold-webfont.woff2) format('woff2'), url(/files/font/mada-bold-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html {
    padding: 1rem;
    height: auto;
    width: 350px;
}

body {
    font-family: madaregular;
    background-color: rgba(247, 238, 145, 0.25);
}
h1 {
    font-size: 18px;
    font-family: madabold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #02343f;
}
h2 {
    text-align: left;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: madabold;
    margin-bottom: 0.5rem;
    color: #02343f;
}
p, span, input {
    font-size: 14px;
    font-family: madaregular;
    color: rgb(33, 37, 41);
}
a {
    font-size: 12px;
    font-family: madabold !important;
    color: #02343f !important;
}

strong {
    font-size: 14px;
    font-family: madabold !important;
    color: #02343f !important;
}

.btn {
    font-family: madaregular;
    font-size: 14px;
    color: #fff !important;
    background-color: #02343f;
    border-color: #031c22 !important;
    margin-bottom: 10px;
    border-radius: 0.7rem;
    --bs-btn-hover-color: #f0edcc;
    --bs-btn-hover-bg: #031c22;
    --bs-btn-hover-border-color: #02343f;
    --bs-btn-active-color: #f0edcc;
    --bs-btn-active-bg: #031c22;
    --bs-btn-active-border-color: #02343f;
    --bs-btn-border-width: 1.5px;
    width: 100%;
    line-height: 17px;
}
.secondbutton {
    font-family: madaregular;
    color: #02343f !important;
    background-color: #fff;
    border-color: #031c22 !important;
    margin-bottom: 10px;
    border-radius: 0.7rem;
    --bs-btn-hover-color: #f0edcc;
    --bs-btn-hover-bg: #dfdfdf;
    --bs-btn-hover-border-color: #031c22;
    --bs-btn-active-color: #f0edcc;
    --bs-btn-active-bg: #dfdfdf;
    --bs-btn-active-border-color: #031c22;
    --bs-btn-border-width: 1.5px;
    width: 100%;
    line-height: 17px;
}

.form-control {
    border: 2px solid #02343f;
    margin-bottom: 1.5rem;
    border-radius: 0.7rem;
    background-clip: unset;
    font-size: 14px;
}

.form-select {
    border: 2px solid #02343f;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000;
}

.date-selection {
    margin-top: 15px;
}
.form-check {
    min-height: 1.5rem;
}

#blauwe-container {
    background-color: #02343f;
    border-radius: 1.2rem;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#blauwe-container h2,
#blauwe-container h3,
#blauwe-container label.form-check-label {
    color: #fff;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 0.7rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#02343f" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/><path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM9 8a1 1 0 0 1 1-1h5v2h-5a1 1 0 0 1-1-1m-8 2h4a1 1 0 1 1 0 2H1z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

#datepicker {
    width: 100%;
    padding: 10px;
    border-radius: 0.7rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2302343f' class='bi bi-calendar-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.custom-dropdown .dropdown-options {
    display: none;
    position: absolute;
    width: 100%;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 99;
    padding-left: 0px !important;
    border-radius: 0.7rem;
}

.dropdown-options.open {
    display: block !important;
}

.dropdown-options::-webkit-scrollbar {
    display: none;
}

.custom-dropdown .dropdown-options li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-dropdown .dropdown-options li:hover {
    background-color: #f2f2f2;
}

#instellingen {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 238, 145, 0.25);
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#instellingen::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    mix-blend-mode: multiply;
    z-index: -1;
}
.container-lg {
    padding-left: 0px;
    padding-right: 0px;
}
:host {
    --color-fg-primary: #02343f;
    --color-bg-secondary: #f2f2f2; 
    --color-bg-inrange: #f2f2f2;
}
.calendar>.header button>svg {
    fill: #02343f;
}
.month-name span {
    font-size: 14px;
    font-family: madabold;
    color: rgb(33, 37, 41);
}